In [1]:
import numpy as np
import pandas as pd

In [2]:
# load in all trade data files.
num_files = 52
l = []
for i in range(num_files):
    df = pd.read_csv('data/trade_data{}.txt'.format(i), 
                     names=['week', 'customer', 'sector', 'risk', 'maturity_time', 'bond_yield', 'treasury_yield'])
    l.append(df)


df = pd.concat(l)

In [3]:
df.shape

(881661, 7)

In [4]:
df.head()

   week  customer sector  risk  maturity_time  bond_yield  treasury_yield
0     0         0      A   LOW              2    1.739558         0.99173
1     0         1      D   LOW              2    1.535684         0.99173
2     0         1      D  HIGH              1    4.194513         0.99173
3     0         1      D  HIGH              2    4.089872         0.99173
4     0         1      D   LOW              2    1.470163         0.99173

In [13]:
# take a look at quick customer preferences. This is from the model of trading preferences. Usually wouldn't have this
# information in the real world. Can use these to see ifrecommendations make sense.
customer_prefs = pd.read_csv('data/customer_prefs.txt',
                            names=['customer_id', 'avg_weekly_trade_freq', 'low_risk_pref', 'med_risk_pref', 'high_risk_pref', 
                                   'sector_a_pref', 'sector_b_pref', 'sector_c_pref', 'sector_d_pref', 'mat_1_pref', 
                                   'mat_2_pref', 'mat_3_pref', 'mat_4_pref', 'mat_5_pref'])
customer_prefs.head(n=20)

,customer_id,avg_weekly_trade_freq,low_risk_pref,med_risk_pref,high_risk_pref,sector_a_pref,sector_b_pref,sector_c_pref,sector_d_pref,mat_1_pref,mat_2_pref,mat_3_pref,mat_4_pref,mat_5_pref
0,0,0.58,1.00,0.00,0.00,0.96,0.02,0.01,0.01,0.00,0.38,0.02,0.00,0.60
1,1,11.22,0.69,0.00,0.31,0.23,0.03,0.09,0.65,0.41,0.47,0.05,0.00,0.06
2,2,2.85,0.94,0.00,0.06,0.00,1.00,0.00,0.00,0.02,0.08,0.13,0.04,0.74
3,3,3.61,0.95,0.05,0.00,0.75,0.04,0.21,0.00,0.02,0.04,0.00,0.39,0.55
4,4,38.75,1.00,0.00,0.00,0.87,0.00,0.01,0.12,0.74,0.01,0.00,0.14,0.11
5,5,102.03,1.00,0.00,0.00,0.57,0.00,0.32,0.11,0.00,0.00,0.11,0.83,0.06
6,6,39.03,0.54,0.46,0.00,0.31,0.11,0.58,0.00,0.00,0.00,0.51,0.21,0.28
7,7,0.36,0.99,0.00,0.01,0.02,0.91,0.00,0.07,0.00,0.70,0.00,0.00,0.30
8,8,2.18,0.57,0.43,0.00,0.44,0.01,0.19,0.37,0.35,0.00,0.59,0.06,0.00
9,9,0.38,0.14,0.00,0.86,0.00,0.00,1.00,0.00,0.79,0.00,0.18,0.03,0.00
10,10,5.24,0.97,0.03,0.00,0.00,0.69,0.11,0.19,0.03,0.12,0.00,0.13,0.71
11,11,14.39,0.97,0.03,0.00,0.04,0.93,0.00,0.03,0.54,0.00,0.39,0.00,0.07
12,12,20.19,0.54,0.05,0.41,0.10,0.05,0.00,0.84,0.01,0.91,0.00,0.08,0.00
13,13,8.55,1.00,0.00,0.00,0.52,0.00,0.48,0.00,0.00,0.42,0.02,0.00,0.56
14,14,0.32,0.96,0.04,0.01,0.09,0.00,0.39,0.51,0.00,0.00,0.93,0.02,0.04
15,15,0.22,0.74,0.26,0.00,0.16,0.65,0.16,0.03,0.07,0.53,0.24,0.00,0.17
16,16,0.29,0.97,0.03,0.00,0.10,0.84,0.03,0.02,0.00,0.00,0.00,0.08,0.91
17,17,10.91,0.68,0.31,0.01,0.01,0.02,0.90,0.07,0.04,0.35,0.00,0.16,0.45
18,18,2.51,0.98,0.00,0.02,0.01,0.00,0.99,0.00,0.30,0.00,0.16,0.36,0.18
19,19,5.01,0.40,0.51,0.08,0.00,0.03,0.29,0.69,0.59,0.11,0.02,0.00,0.28

In [3]:
df['yield_premium'] = df['bond_yield'] - df['treasury_yield']
df.head()

,week,customer,sector,risk,maturity_time,bond_yield,treasury_yield,yield_premium
0,0,0,A,LOW,2,1.739558,0.99173,0.747828
1,0,1,D,LOW,2,1.535684,0.99173,0.543954
2,0,1,D,HIGH,1,4.194513,0.99173,3.202783
3,0,1,D,HIGH,2,4.089872,0.99173,3.098142
4,0,1,D,LOW,2,1.470163,0.99173,0.478433

In [4]:
del df['bond_yield']
del df['treasury_yield']

df.head()

   week  customer sector  risk  maturity_time  yield_premium
0     0         0      A   LOW              2       0.747828
1     0         1      D   LOW              2       0.543954
2     0         1      D  HIGH              1       3.202783
3     0         1      D  HIGH              2       3.098142
4     0         1      D   LOW              2       0.478433

In [5]:
df['yield_premium_round'] = df['yield_premium'].round(1)
df.head()

,week,customer,sector,risk,maturity_time,yield_premium,yield_premium_round
0,0,0,A,LOW,2,0.747828,0.7
1,0,1,D,LOW,2,0.543954,0.5
2,0,1,D,HIGH,1,3.202783,3.2
3,0,1,D,HIGH,2,3.098142,3.1
4,0,1,D,LOW,2,0.478433,0.5

In [6]:
df['product_key'] = df['sector'] + df['risk'] + df['maturity_time'].map(str) + df['yield_premium_round'].map(str)
df.head()

,week,customer,sector,risk,maturity_time,yield_premium,yield_premium_round,product_key
0,0,0,A,LOW,2,0.747828,0.7,ALOW20.7
1,0,1,D,LOW,2,0.543954,0.5,DLOW20.5
2,0,1,D,HIGH,1,3.202783,3.2,DHIGH13.2
3,0,1,D,HIGH,2,3.098142,3.1,DHIGH23.1
4,0,1,D,LOW,2,0.478433,0.5,DLOW20.5

In [8]:
df['product_key'] = df['product_key'].astype('category')
df['product_id'] = df['product_key'].cat.codes
df.head()

,week,customer,sector,risk,maturity_time,yield_premium,yield_premium_round,product_key,product_id
0,0,0,A,LOW,2,0.747828,0.7,ALOW20.7,259
1,0,1,D,LOW,2,0.543954,0.5,DLOW20.5,1686
2,0,1,D,HIGH,1,3.202783,3.2,DHIGH13.2,1453
3,0,1,D,HIGH,2,3.098142,3.1,DHIGH23.1,1491
4,0,1,D,LOW,2,0.478433,0.5,DLOW20.5,1686

In [9]:
products = df[['sector', 'risk', 'maturity_time', 'yield_premium_round', 'product_id']].drop_duplicates()

In [10]:
prod_dict1 = df[['product_key', 'product_id']].drop_duplicates().set_index('product_key').to_dict()['product_id']

In [11]:
prod_dict2 = df[['product_key', 'product_id']].drop_duplicates().set_index('product_id').to_dict()['product_key']

In [16]:
train_df = df[df['week'] < 45]
test_df = df[df['week'] >= 45]

In [16]:
# products in test_df that are not in train_df.
np.setdiff1d(test_df['product_id'], train_df['product_id'])

array([ 235,  251,  314,  337,  519,  558,  561,  695,  804,  826,  912,
        913, 1031, 1033, 1290, 1316, 1406, 1472, 1818], dtype=int16)

In [17]:
# products in train_df that are not in test_df.
np.setdiff1d(train_df['product_id'], test_df['product_id'])

array([   0,    1,    2,    3,    6,   39,   42,   44,   45,   46,   47,
         48,   53,   82,   83,   87,   88,   89,   90,   91,   92,   93,
         94,   95,  132,  133,  134,  135,  136,  137,  138,  139,  140,
        175,  178,  179,  180,  181,  182,  183,  185,  188,  226,  227,
        228,  246,  267,  268,  271,  272,  273,  291,  295,  312,  313,
        318,  336,  338,  339,  340,  341,  342,  343,  362,  363,  364,
        366,  388,  390,  391,  392,  393,  417,  418,  419,  420,  421,
        422,  446,  447,  448,  449,  450,  475,  476,  477,  478,  479,
        480,  481,  484,  511,  512,  516,  517,  518,  557,  559,  560,
        563,  564,  565,  601,  602,  603,  604,  605,  606,  607,  608,
        609,  610,  612,  648,  649,  650,  651,  652,  653,  654,  655,
        690,  691,  693,  694,  696,  732,  733,  738,  754,  755,  760,
        761,  779,  782,  783,  802,  803,  827,  828,  829,  830,  855,
        856,  857,  881,  882,  883,  884,  885,  909,  910,  911,  914,
        916,  940,  942,  943,  944,  945,  946,  947,  982,  984,  985,
        986,  987,  988,  990, 1023, 1026, 1027, 1028, 1029, 1030, 1032,
       1034, 1035, 1037, 1040, 1078, 1080, 1081, 1082, 1083, 1084, 1085,
       1086, 1087, 1088, 1125, 1126, 1127, 1129, 1130, 1131, 1132, 1169,
       1171, 1173, 1174, 1175, 1176, 1177, 1183, 1194, 1195, 1200, 1215,
       1216, 1220, 1221, 1222, 1240, 1241, 1245, 1246, 1264, 1269, 1288,
       1289, 1291, 1312, 1314, 1315, 1317, 1318, 1343, 1344, 1345, 1372,
       1374, 1375, 1400, 1401, 1402, 1403, 1404, 1405, 1430, 1432, 1433,
       1435, 1436, 1465, 1468, 1469, 1470, 1471, 1473, 1474, 1476, 1477,
       1478, 1480, 1510, 1512, 1513, 1515, 1516, 1517, 1518, 1519, 1520,
       1522, 1523, 1526, 1560, 1561, 1562, 1563, 1565, 1567, 1605, 1607,
       1608, 1609, 1610, 1611, 1612, 1614, 1617, 1653, 1655, 1656, 1657,
       1658, 1659, 1680, 1697, 1701, 1717, 1741, 1745, 1764, 1766, 1767,
       1768, 1769, 1770, 1790, 1791, 1793, 1796, 1816, 1819, 1822, 1844,
       1845, 1846, 1847, 1848, 1851, 1874, 1875, 1876, 1877, 1878, 1902,
       1903], dtype=int16)

In [18]:
# get products that can be predicted.
prod_in_both = np.intersect1d(train_df['product_id'], test_df['product_id'])

In [19]:
# get the products in both datasets (training and test) that also have >= 20 unique customers in the training set.
min_prod = train_df[np.isin(train_df['product_id'], prod_in_both)]
min_prod = min_prod.groupby('product_id')['customer'].nunique()
min_prod = min_prod[min_prod >= 20]
min_prod_list = min_prod.index.tolist()

In [20]:
# customers that bought a product in the training set.
train_df[train_df['product_id'] == min_prod_list[0]]

,week,customer,sector,risk,maturity_time,yield_premium,yield_premium_round,product_key,product_id
10859,0,1002,A,HIGH,1,1.913445,1.9,AHIGH11.9,12
11318,1,1002,A,HIGH,1,1.907811,1.9,AHIGH11.9,12
1541,3,182,A,HIGH,1,1.918896,1.9,AHIGH11.9,12
11071,3,1002,A,HIGH,1,1.909185,1.9,AHIGH11.9,12
9046,4,931,A,HIGH,1,1.894382,1.9,AHIGH11.9,12
9053,4,931,A,HIGH,1,1.949897,1.9,AHIGH11.9,12
10305,4,1002,A,HIGH,1,1.906180,1.9,AHIGH11.9,12
9334,8,931,A,HIGH,1,1.930618,1.9,AHIGH11.9,12
10055,9,931,A,HIGH,1,1.863538,1.9,AHIGH11.9,12
9317,10,931,A,HIGH,1,1.895302,1.9,AHIGH11.9,12
9327,10,931,A,HIGH,1,1.915276,1.9,AHIGH11.9,12
10192,10,964,A,HIGH,1,1.927218,1.9,AHIGH11.9,12
8688,11,931,A,HIGH,1,1.891285,1.9,AHIGH11.9,12
11037,11,1072,A,HIGH,1,1.931980,1.9,AHIGH11.9,12
11182,11,1072,A,HIGH,1,1.942677,1.9,AHIGH11.9,12
14585,11,1327,A,HIGH,1,1.876756,1.9,AHIGH11.9,12
9876,12,931,A,HIGH,1,1.933919,1.9,AHIGH11.9,12
10788,12,964,A,HIGH,1,1.909100,1.9,AHIGH11.9,12
1191,13,102,A,HIGH,1,1.949624,1.9,AHIGH11.9,12
9858,13,931,A,HIGH,1,1.872093,1.9,AHIGH11.9,12
9102,14,931,A,HIGH,1,1.947935,1.9,AHIGH11.9,12
12161,14,1155,A,HIGH,1,1.886946,1.9,AHIGH11.9,12
9382,15,931,A,HIGH,1,1.875922,1.9,AHIGH11.9,12
1558,16,161,A,HIGH,1,1.933224,1.9,AHIGH11.9,12
9507,16,931,A,HIGH,1,1.919643,1.9,AHIGH11.9,12
446,17,51,A,HIGH,1,1.947363,1.9,AHIGH11.9,12
2310,17,239,A,HIGH,1,1.861609,1.9,AHIGH11.9,12
9918,17,931,A,HIGH,1,1.941030,1.9,AHIGH11.9,12
12337,17,1072,A,HIGH,1,1.925918,1.9,AHIGH11.9,12
2563,18,298,A,HIGH,1,1.947052,1.9,AHIGH11.9,12
...,...,...,...,...,...,...,...,...,...
8918,30,931,A,HIGH,1,1.935071,1.9,AHIGH11.9,12
10398,30,1002,A,HIGH,1,1.882921,1.9,AHIGH11.9,12
11360,31,1002,A,HIGH,1,1.874426,1.9,AHIGH11.9,12
11370,31,1002,A,HIGH,1,1.869854,1.9,AHIGH11.9,12
12531,31,1072,A,HIGH,1,1.864978,1.9,AHIGH11.9,12
2441,32,242,A,HIGH,1,1.913820,1.9,AHIGH11.9,12
10055,32,931,A,HIGH,1,1.877680,1.9,AHIGH11.9,12
10056,32,931,A,HIGH,1,1.941803,1.9,AHIGH11.9,12
15260,32,1270,A,HIGH,1,1.948984,1.9,AHIGH11.9,12
10027,33,931,A,HIGH,1,1.922065,1.9,AHIGH11.9,12
10126,33,931,A,HIGH,1,1.917633,1.9,AHIGH11.9,12
1559,34,161,A,HIGH,1,1.921445,1.9,AHIGH11.9,12
10950,34,1002,A,HIGH,1,1.868596,1.9,AHIGH11.9,12
14871,34,1354,A,HIGH,1,1.947175,1.9,AHIGH11.9,12
5097,36,533,A,HIGH,1,1.908031,1.9,AHIGH11.9,12
9484,36,931,A,HIGH,1,1.927526,1.9,AHIGH11.9,12
8984,37,931,A,HIGH,1,1.888218,1.9,AHIGH11.9,12
9055,37,931,A,HIGH,1,1.948159,1.9,AHIGH11.9,12
10040,37,960,A,HIGH,1,1.912819,1.9,AHIGH11.9,12
1387,38,146,A,HIGH,1,1.890394,1.9,AHIGH11.9,12
9854,39,931,A,HIGH,1,1.895997,1.9,AHIGH11.9,12
14710,39,1230,A,HIGH,1,1.942500,1.9,AHIGH11.9,12
9699,40,931,A,HIGH,1,1.878507,1.9,AHIGH11.9,12
9743,40,931,A,HIGH,1,1.870570,1.9,AHIGH11.9,12
10036,40,931,A,HIGH,1,1.921937,1.9,AHIGH11.9,12
9739,41,931,A,HIGH,1,1.943827,1.9,AHIGH11.9,12
11007,41,1002,A,HIGH,1,1.860288,1.9,AHIGH11.9,12
9928,42,931,A,HIGH,1,1.941718,1.9,AHIGH11.9,12
10943,43,1002,A,HIGH,1,1.943449,1.9,AHIGH11.9,12
11158,44,1072,A,HIGH,1,1.942369,1.9,AHIGH11.9,12

In [22]:
# recommend product based on most frequently purchased in the past.
recc = train_df[train_df['product_id'] == min_prod_list[0]].groupby('customer')['week'].count().sort_values(ascending=False)

In [23]:
recc

customer
931     36
1002    14
1072     6
161      5
964      2
182      2
298      1
89       1
102      1
146      1
239      1
242      1
1354     1
533      1
1327     1
960      1
1141     1
1155     1
1230     1
1270     1
51       1
Name: week, dtype: int64

In [24]:
# amount of products that we are able to recommend based on minimum # of customers.
len(min_prod_list)

1138

In [21]:
# get results with the relevant products.
test_gb = test_df.groupby(['product_id', 'customer', 'sector', 'risk', 'maturity_time', 'yield_premium_round']) 
results = test_gb['week'].count().to_frame().reset_index()
results.rename(columns={'week':'num_trades'}, inplace=True)

results = results[np.isin(results['product_id'], min_prod_list)]
results.head()

,product_id,customer,sector,risk,maturity_time,yield_premium_round,num_trades
19,12,102,A,HIGH,1,1.9,1
20,12,421,A,HIGH,1,1.9,1
21,12,557,A,HIGH,1,1.9,1
22,12,931,A,HIGH,1,1.9,6
23,12,960,A,HIGH,1,1.9,1

In [26]:
def recommended(row, train_df, top_N):
    prod_id = row['product_id']
    cust_id = row['customer']
    
    # get the previous customers that traded the product in the past.
    prev_cust = train_df[train_df['product_id'] == prod_id].groupby('customer')['week'].count().sort_values(ascending=False)
    
    # create recommendation list based on top_N previous customers.
    rec = prev_cust.index.tolist()[0:top_N]
    
    # test if cust_id is in the recommended list
    return np.sum(np.isin(rec, cust_id))

In [224]:
# test out top N recommendations and record results.
perc_rec = []
for i in range(1,21):
    results['recommended'] = results.apply(recommended, train_df=train_df, top_N=i, axis=1)
    tot_trades = results['num_trades'].sum()
    tot_trades_recommended = results[results['recommended'] == 1]['num_trades'].sum()
    perc_rec.append(tot_trades_recommended/tot_trades)
    print(i)
    
perc_rec

[0.14870753984836727,
 0.22272444289040313,
 0.27773181984870837,
 0.31980180287744014,
 0.35213249528812779,
 0.38237376020194958,
 0.408112095653138,
 0.43339843250296356,
 0.45582779706115628,
 0.47495671900185066,
 0.49243968377154457,
 0.50845578515568368,
 0.52325234314369296,
 0.53760543080583678,
 0.5496302992571872,
 0.56169780908602474,
 0.57282720861014691,
 0.58356430746138821,
 0.59364472909932886,
 0.60321345420742467]

In [22]:
# start content based filtering.

# get the data with products in both training and test datasets.
train_both = train_df[np.isin(train_df['product_id'], prod_in_both)]
train_both['traded'] = 1

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
train_both[train_both['customer'] == 0]

,week,customer,sector,risk,maturity_time,yield_premium,yield_premium_round,product_key,product_id,traded
0,0,0,A,LOW,2,0.747828,0.7,ALOW20.7,259,1
0,1,0,A,LOW,5,0.746201,0.7,ALOW50.7,326,1
0,2,0,A,LOW,5,1.144357,1.1,ALOW51.1,330,1
0,3,0,A,LOW,5,0.501741,0.5,ALOW50.5,324,1
0,5,0,A,LOW,5,0.629905,0.6,ALOW50.6,325,1
0,6,0,A,LOW,5,0.737191,0.7,ALOW50.7,326,1
0,7,0,A,LOW,2,0.873111,0.9,ALOW20.9,261,1
0,10,0,A,LOW,2,0.514626,0.5,ALOW20.5,257,1
0,11,0,A,LOW,5,0.348723,0.3,ALOW50.3,322,1
0,13,0,A,LOW,2,1.040870,1.0,ALOW21.0,262,1
0,19,0,A,LOW,5,1.126374,1.1,ALOW51.1,330,1
0,21,0,A,LOW,2,0.898333,0.9,ALOW20.9,261,1
0,22,0,A,LOW,2,0.388635,0.4,ALOW20.4,256,1
0,25,0,A,LOW,5,0.945530,0.9,ALOW50.9,328,1
0,27,0,A,LOW,2,0.418414,0.4,ALOW20.4,256,1
0,29,0,A,LOW,2,0.508494,0.5,ALOW20.5,257,1
0,31,0,C,LOW,5,0.530920,0.5,CLOW50.5,1275,1
0,33,0,A,LOW,5,0.559725,0.6,ALOW50.6,325,1
0,35,0,A,LOW,3,0.513013,0.5,ALOW30.5,279,1
0,36,0,A,LOW,5,0.738065,0.7,ALOW50.7,326,1
0,37,0,A,LOW,5,1.005828,1.0,ALOW51.0,329,1
0,38,0,A,LOW,2,0.537849,0.5,ALOW20.5,257,1
0,40,0,A,LOW,5,0.509153,0.5,ALOW50.5,324,1
0,41,0,A,LOW,5,0.860689,0.9,ALOW50.9,328,1
0,44,0,A,LOW,5,0.583646,0.6,ALOW50.6,325,1

In [24]:
product_list = train_both[['sector', 'risk', 'maturity_time', 'yield_premium_round', 'product_id']].drop_duplicates()
product_list.head()

  sector  risk  maturity_time  yield_premium_round  product_id
0      A   LOW              2                  0.7         259
1      D   LOW              2                  0.5        1686
2      D  HIGH              1                  3.2        1453
3      D  HIGH              2                  3.1        1491
5      D   LOW              1                  0.7        1673

In [25]:
cust_list = train_both[['customer']].drop_duplicates()
cust_list.head()

    customer
0          0
1          1
16         2
22         3
23         4

In [35]:
print(len(cust_list))
print(len(product_list))

1447
1565

In [27]:
# get number of trades by product and customer.
train_df2 = train_both.groupby(['customer', 'sector', 'risk', 'maturity_time', 'product_id', 'yield_premium_round'])['traded'].sum().to_frame().reset_index()
train_df2.head()

111073

In [32]:
# create user models based on bond features.
import math
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing

def sample_func(x, n_group_sample):
    if len(x) < n_group_sample:
        n_samp = len(x)
    else:
        n_samp = n_group_sample
        
    return x.sample(n=n_samp)
    

user_models = {}
for i in range(len(cust_list)):
    customer_id = cust_list.iloc[i]['customer']
    train_user_mod = train_df2[train_df2['customer'] == customer_id]
    
    # get random sample of products that were not traded by user.    
    n_sample = max(len(train_user_mod), 12)
    sample_not_traded = products[np.isin(products['product_id'], train_user_mod['product_id'], invert=True)]

    # do stratified sampling.
    sample_not_traded = sample_not_traded.groupby(['sector', 'risk']).apply(sample_func, n_group_sample=math.floor(n_sample/12))
    sample_not_traded['traded'] = 0

    user_train = pd.concat([train_user_mod[['sector', 'risk', 'maturity_time', 'yield_premium_round', 'traded']], 
                            sample_not_traded[['sector', 'risk', 'maturity_time', 'yield_premium_round', 'traded']]])

    user_train = pd.get_dummies(user_train, columns=['sector', 'risk'])
    
    targetName = 'traded'
    y_train = user_train[targetName]
    X_train = user_train.drop([targetName], axis=1) 
    
    clf = RandomForestRegressor(n_estimators=20, oob_score=True, random_state=3987)
    clf.fit(X_train, y_train) 
    
    user_models[customer_id] = clf

In [36]:
import operator

# generates recommendation list fpr each product.

# get the list of products to predict.
product_df = pd.get_dummies(product_list[['product_id', 'sector', 'risk', 'maturity_time', 'yield_premium_round']])
rec_list = []
for index, row in product_df.iterrows():
    res = {}
    
    # format the row to be able to use in the user models.
    row2 = row.drop(index='product_id')
    
    # use each user model to score product.
    for user_id, clf in user_models.items():
        res[user_id] = clf.predict(row2.as_matrix().reshape(1, -1))
    
    # sort by scores and choose top N.
    sorted_res = sorted(res.items(), key=operator.itemgetter(1), reverse=True)
    top_N_scores = sorted_res
    for cust_id, scr in top_N_scores:
        r = [int(row['product_id']), cust_id, scr[0]]
        rec_list.append(r) 

score_df = pd.DataFrame(rec_list, columns=['product_id', 'customer', 'score'])

In [37]:
# function that returns whether the customer that traded the product was in the top_N recommendation list.
def recommended(row, score_df, top_N):
    prod_id = row['product_id']
    cust_id = row['customer']
    
    rec = score_df[score_df['product_id'] == prod_id]['customer'].iloc[0:top_N]
    
    # test if cust_id is in the recommended list
    return np.sum(np.isin(rec, cust_id))

In [38]:
# test out top N recommendations and record results.
perc_rec = []
for i in range(21,51):
    results['recommended'] = results.apply(recommended, score_df=score_df, top_N = i, axis=1)
    tot_trades = results['num_trades'].sum()
    tot_trades_recommended = results[results['recommended'] == 1]['num_trades'].sum()
    perc_rec.append(tot_trades_recommended/tot_trades)
    print(i)
    
perc_rec

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

[0.57572682227926686,
 0.58364106194086496,
 0.59129092506204317,
 0.59888109025473957,
 0.6060533699480628,
 0.612500746224106,
 0.61905899008161558,
 0.62464501053242028,
 0.63069155786008513,
 0.63661018105528877,
 0.64230706908755986,
 0.64773105230391359,
 0.65245571692947968,
 0.65766649325839821,
 0.66283462820982963,
 0.66774691489633886,
 0.67217308987949542,
 0.67711948966799429,
 0.68152007982465868,
 0.68573304792038003,
 0.68994601601610139,
 0.69332321311307643,
 0.69725474811738319,
 0.70093043485676765,
 0.70487902641206923,
 0.70838414764150537,
 0.71161636405502449,
 0.71524940941692183,
 0.71901890718677774,
 0.72199527533537444]